.box {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out; 
    display: inline-block;
    width: 25vw;
    height: auto;
    cursor: pointer;
  }

.box:hover {
    transform: scale(1.05); 
}
.box img {
    width: 100%; 
    height: 100%; 
    object-fit:contain; 
    border-radius: var(--border-radius);
}

.box h3{
    display: block;
    width: fit-content;
    transition: color .2s ease-in-out; 

}

.box h3:hover{
    color: var(--hover-text-color)
    
}


  