@if (item.title.toLowerCase() !== 'home') {
        <li class="accordion-menu-item">
          <button class="accordion-header" (click)="toggleAccordion(item.id)" [attr.aria-expanded]="isAcordionOpen">
            <span class="title-nav">{{ item.title }}</span>
            <span class="accordion-arrow" [ngClass]="{'open': isAcordionOpen}">&#9662;</span>
          </button>
          
          <div class="accordion-content" [@accordionAnimation]="isAcordionOpen ? 'open' : 'closed'">
            @if (item.items.length > 0) {
              <ul class="submenu">
                @for (subItem of item.items; track $index) {
                  <li>
                    <a class="submenu-item" 
                       (click)="navigateAndClose(
                         subItem.link || item.link || '', 
                         (subItem.link || subItem.scrollTo || ''), 
                         2000); ">
                      {{ subItem.displayString }}
                    </a>
                  </li>
                }
              </ul>
            } @else {
              <a class="submenu-item" 
                 (click)="navigateAndClose(item.link, '', 2000)">
                {{ item.title }}
              </a>
            }
          </div>
        </li>
      }