<app-background-video
  [title]="'Forge'"
  [description]="'Machine Learning based terrain generation.'"
  [height]="'40vh'" 
  [src]="'https://quadspinner.com/images/samkrug_himalaya.webp'"
  [scale]="1.2"
  [video]="0"
  [BottomPadding]="'1%'"
  [scrollFactor]=".5"
  [initialOffset]="-50">
</app-background-video>

<app-info-box 
    class="dont-fucking-go-over"
    title="Machine Learning" 
    desc="Forge is RuneFXs cutting edge tool for terrain generation. Used in every feature film since its creation in 2019, Forge has became an essential part of our workflows and pipeline, allowing artists to easily iterate on various terrains seamlessly.">
</app-info-box>

<app-background-video
  [title]="'Easy & Fast'"
  [description]="'Forge lets artists decide the final look much quicker compared to competing technologies.'"
  [height]="'50vh'" 
  [src]="'https://quadspinner.com/users/AlexAlvarez.webp'"
  [scale]="1.2"
  [video]="0"
  [BottomPadding]="'1vh'"
  [scrollFactor]=".25"
  [initialOffset]="-155"
  [textBlockAlignment]="'left'"
  [titleFontSize]="'4vh'" 
  [descriptionFontSize]="'2vh'"
  [ButtonText]="'Learn more.'"
  [textWidth]="'30%'"
  />

  <app-background-video
  [title]="'Complex looks and simulations wrapped into simple, usable tools.'"
  [description]="'Forges features an efficient, minimal, artist-friendly user interface with scientific nodes wrapped in easy-to-comprehend settings. The realtime viewport allows you to see your terrain in crisp detail with previous to up to 16 million polygons.'"
  [height]="'50vh'" 
  [src]="'https://quadspinner.com/users/AaronVR_0.webp'"
  [scale]="1.3"
  [video]="0"
  [BottomPadding]="'1vh'"
  [scrollFactor]=".25"
  [initialOffset]="-355"
  [textBlockAlignment]="'right'"
  [titleFontSize]="'4vh'" 
  [descriptionFontSize]="'2vh'"
  [ButtonText]="'Learn more.'"
  [textWidth]="'50%'"
  />

  <app-background-video
  [title]="'Non destructive workflow.'"
  [description]="'Forge features the most advanced Machine learning powered graph system in CG terrains, howered by many different AI Models and carefully designed nodes.'"
  [height]="'50vh'" 
  [src]="'https://quadspinner.com/images/aaronwestwood_desert.webp'"
  [scale]="1.3"
  [video]="0"
  [BottomPadding]="'1vh'"
  [scrollFactor]=".25"
  [initialOffset]="-500"
  [textBlockAlignment]="'left'"
  [titleFontSize]="'4vh'" 
  [descriptionFontSize]="'2vh'"
  [ButtonText]="'Learn more.'"
  [textWidth]="'50%'"
  />

  <div class="basic-holder-3">
    <app-info-box title="Lush Alpine biome with snow, ruvers and lakes." id="credits" [video]="1">
        <ng-template>
            <app-simple-image 
            class="dont-fucking-go-over"
            [src]="'https://quadspinner.com/images/biome_alpine.webp'"
            [scale]="1.2"
            [initialOffset]="-300"
            [scrollFactor]=".1"
            [video]="0"
            />
        </ng-template>
      </app-info-box>
      <app-info-box title="Arid biome with desert vegetation and sandstone." id="credits" [video]="1">
        <ng-template>
          <app-simple-image 
          class="dont-fucking-go-over"
          [src]="'https://quadspinner.com/images/biome_arid.webp'"
          [scale]="1.2"
          [initialOffset]="-300"
          [scrollFactor]=".1"
          [video]="0"
          />
        </ng-template>
      </app-info-box>
      <app-info-box title="Hoodoo-filled rocky biome with a cannyon." id="credits" [video]="1">
        <ng-template>
          <app-simple-image 
          class="dont-fucking-go-over"
          [src]="'https://quadspinner.com/images/biome_desert.webp'"
          [scale]="1.2"
          [initialOffset]="-400"
          [scrollFactor]=".1"
          [video]="0"
          />
        </ng-template>
      </app-info-box>
      <app-info-box title="Construc sophisticated terrains with just a few nodes." id="credits" [video]="1">
        <ng-template>
          <app-simple-image 
          class="dont-fucking-go-over"
          [src]="'https://quadspinner.com/mp4/Shield.webp'"
          [scale]="1.2"
          [initialOffset]="-400"
          [scrollFactor]=".1"
          [video]="0"
          />
        </ng-template>
      </app-info-box>
      <app-info-box title="Create infinite mutations that retain the original look." id="credits" [video]="1">
        <ng-template>
          <app-simple-image 
          class="dont-fucking-go-over"
          [src]="'https://quadspinner.com/mp4/Merged.webp'"
          [scale]="1.3"
          [initialOffset]="-500"
          [scrollFactor]=".1"
          [video]="0"
          />
        </ng-template>
      </app-info-box>
      <app-info-box title="Easily plan and art direct your environment." id="credits" [video]="1">
        <ng-template>
          <app-simple-image 
          class="dont-fucking-go-over"
          [src]="'https://quadspinner.com/images/biome_all.webp'"
          [scale]="1.3"
          [initialOffset]="-500"
          [scrollFactor]=".1"
          [video]="0"
          />
        </ng-template>
      </app-info-box>
</div>