.basic-holder-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: auto; 
    height: 10%; 
    background-color: var(--darker-dark);
}


@media(max-width: 750px){
    .basic-holder-3{
        grid-template-columns: repeat(1, 1fr) ;
    }
}