<app-background-video
  [title]="'Community'"
  [description]="'Join the community! We dont bite...'"
  [height]="'40vh'" 
  [src]="'https://www.youtube.com/embed/21EG6pm6IeA?si=FKI_Zp8B2AsZl4EI&amp;controls=0&mute=1&autoplay=1&loop=1&playlist=21EG6pm6IeA'"
  [scale]="3"
  [video]="1"
  [BottomPadding]="'1%'"
  [scrollFactor]=".5"
  [initialOffset]="-150"
  [showTextWhenResponsive]="true"
  [halveTextSize]="false"
  [credits]="'© Rebelway'"
  >  
</app-background-video>

<app-info-box title="Community" desc="We've fostered a community around our products, go check them out!" [video]="0"></app-info-box>

<div class="community-grid">
    <app-showcase-box
    [title]="'Releases'"
    [description]="'Patch notes for our commercial products.'"
    [imageUrl]="'https://cdnb.artstation.com/p/assets/images/images/086/572/617/large/pablo-dominguez-demoncity-1.jpg?1743525699'"
    [redirectTo]="'https://discord.gg/rebelway'"
    >
    </app-showcase-box>
        <app-showcase-box
    [title]="'Forum'"
    [description]="'Discuss and share your work with the community.'"
    [imageUrl]="'https://cdna.artstation.com/p/assets/images/images/088/875/214/large/karim-yasser-main-frame-1-1-2.jpg?1749442457'"
    [redirectTo]="'https://discord.gg/rebelway'"
    >
    </app-showcase-box>
        <app-showcase-box
    [title]="'Gallery'"
    [description]="'Check out the latest work from our community.'"
    [imageUrl]="'https://cdna.artstation.com/p/assets/images/images/088/507/238/large/massimo-verona-nature-reserve-var-v04-01-002-cam017-ps.jpg?1748460222'"
    [redirectTo]="'https://discord.gg/rebelway'"
    >
    </app-showcase-box>
</div>