*{
    background-color: var(--darker-dark);
}

.community-grid{
    background-color: var(--darker-dark);
    padding: var(--base-site-margin-lr);
    display: flex;
    gap: 1vh 1.5vw;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.box-size{
    width: 25vw;
    height: 35vh;
}