<footer class="site-footer">
    <div class="gridsplit">
        <div class="footer-content sdr-text">
          @for (item of footerItems; track $index) {
            @if (item.items.length > 0) {
            <app-footer-item
              [item]="item"
            ></app-footer-item>
            }
          }
        </div>
        <div class="emptydiv"></div>
    </div>

<div class="footer-container">
    <div class="footer-bottom">
        <p>Copyright © RuneFX {{currentYear}}. All Rights Reserved.</p>
    </div>
</div>
    
</footer>
  