*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.full-width{
    width: 100%;
}
.header-container {
    display: flex;
    flex-direction: row;
    height: var(--header-size); 
    position: sticky;
    top: 0;
    z-index: 9999;
    transition: height 0.1s ease;
 }
 .header-container .grow {
    height: 7vh; 
    
  }
.logo-container {
    color: white;
    width: auto; 
    padding: .5% 5% .5% 5%;
    background: var(--triangle-before); 
    display: block; 
    cursor: pointer;
}

.logo-container svg{
    height: 100%;
    width: 100%;
    transition: color .5s;
}

.logo-container svg .cls-1 {
    fill: #fff; 
    transition: fill .5s; 
  }

 .triangle-container {
    width: 10%;
    height: 1;
    position: relative; 
} 
 .triangle-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--triangle-before);
    clip-path: polygon(0 0, 100.5% , -0.5% 100%);
 }
 .triangle-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--triangle-after);
    clip-path: polygon(100% 0, 102% 100%, -2% 100%);
}

 .tabs-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    padding: .5% 2% .5% 2%;
    z-index: 1;
    background-color: var(--triangle-after);
}

.tabs-container ul {
    text-decoration: none; 
    color: white;
    list-style: none;
    display: grid;
    justify-items: center; 
    align-items: center; 
    grid-template-columns:repeat(5, 1fr);
    font-size: var(--header-text-size); 
    gap: 2vw; 
    width: 100%;
    display: flex;
}

.tabs-container ul li{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.tabs-container li a:hover {
    color: var(--hover-text-color);
}

.active-link {
    color: var(--hover-text-color); 
}

.logo-container:hover svg .cls-1 {
    fill: var(--hover-text-color); 
  }

  
.triangle-container-extended {
    width: 20vh;
    position: relative; 
    top: 0; 
    left: 0;
} 
 .triangle-container-extended::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--triangle-before);
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}
.header-container-extended {
    display: flex;
    flex-direction: row;
    height: 10vh; 
    width: 25vw;
    position: sticky;
    top: 0;
    z-index: 9999;
    transition: height 0.1s ease;
 }

.logo-container-extended {
    color: white;
    width: auto; 
    padding: .5% 5% .5% 5%;
    background: var(--triangle-before); 
    display: flex; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo-container-extended img{
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
}
.hamburger-holder{
    display: none;
    width: 100%;
    background-color: var(--triangle-after);
    justify-content: flex-end;
    padding-right: 2vw;
}
.hamburger-menu {
    display: none;
    font-size: 5vh;
    cursor: pointer;
    color: white;
    padding: 10px;
    height: 100%;
    width: auto;
    align-items: center;
}

.mobile-menu {
    display: none;
    margin-top: var(--header-size);
    flex-direction: column;
    align-items: center;
    background-color: var(--triangle-after);
    position: fixed;  
    width: 40vw;          
    height: 40%;        
    z-index: 9999;
    top: 100%; 
    left: 60%;
    transition: transform 1s ease-in-out; 
}
.mobile-menu ul {
    list-style-type: none;
    font-size: var(--header-text-size); 

}
.mobile-menu ul li{
    margin: 4vh 0vh 4vh 0vh;
}
.mobile-menu.open {
    display: flex;
    top: 0;  

}

@media (max-width: 1150px) {
    .tabs-container {
        display: none;
    }
    .hamburger-holder{
        display: flex;
    }
    .hamburger-menu {
        display: flex;        
        align-content:end;
    }
    .title-nav{
        font-size: 2vh;
    }
    .home-tab{
        font-size: 4vh;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        padding-bottom: 0%;
    }
}