@if (release.showcase_picture_url!=undefined) {
  <app-background-video
  [title]="release.title"
  [description]="release.description"
  [height]="'40vh'" 
  [src]="release.showcase_picture_url"
  [scale]="1.3"
  [video]="0"
  [button]="0"
  [scrollFactor]=".25"
  [textAlignment]="'left'" 
  [textWidth]="'90%'"
  [credits]="'© ' + release.showcase_picture_credits"
>  
</app-background-video>
<div class="root">
  @for (item of releaseFormattedStuff; track $index) {
    @if (item.type == "title") {
      <app-info-box [title]="item.content" [desc]="item.extras?.['desc']!">
      </app-info-box>
    }

    @if (item.type == "text") {
      <div class="base-padding">
        <div class="md light-bg base-bradius base-padding ">
          <markdown [data]="utilsService.replaceNewLines(item.content)" >
          </markdown>
        </div>
      </div>
    }

    @if (item.type == "image") {
      <div class="base-padding md">
          <markdown [data]="utilsService.replaceNewLines('![Showcase image](' + item.content + ')') + '        ' + '\n' + (item.extras?.['text'] || '')">
          </markdown>
      </div>
    }
  }
</div>
}
@else {
  <app-error-warning-ox
      [errorMessage]="'Whoops! The page isnt done loading yet!'"
      [errorDescription]="'Hopefully this message dissapears soon and you see the actual content.'"
  />
}