<app-background-video
  [title]="'Try/Buy'"
  [description]="'Not all our tech is proprieraty.'"
  [height]="'80vh'" 
  [src]="'https://player.vimeo.com/video/570509560?muted=1&autoplay=1&loop=1&transparent=0&background=1&app_id=122963'"
  [scale]="1.5"
  [video]="1"
  [BottomPadding]="'1%'"
  [scrollFactor]=".5"
  [initialOffset]="-50"
  [showTextWhenResponsive]="true"
  [halveTextSize]="false"
  [credits]="'© Rebelway'"
  >
  
</app-background-video>

<app-info-box title="Try/Buy" desc="We offer Commercial and Non-Commercial liscences for anyone who wants them." [video]="0">
</app-info-box>

<app-background-video id="Renderer"
    [title]="'Runic Renderer.'"
    [description]="'Wield the power.'"
    [height]="'30vh'" 
    [src]="'https://cdna.artstation.com/p/assets/images/images/013/199/722/4k/tamas-gyerman-highland-final.jpg?1538514080'"
    [scale]="1.6"
    [video]="0"
    [BottomPadding]="'.5vh'"
    [scrollFactor]=".25"
    [initialOffset]="-250"
    [textBlockAlignment]="'center'"
    [textAlignment]="'center'"
    [titleFontSize]="'4vh'" 
    [descriptionFontSize]="'2vh'"
    [ButtonText]="'Learn more.'"
    [textWidth]="'70%'"
    [showTextWhenResponsive]="true"
    [halveTextSize]="false"
    [credits]="'© Tamas Gyerman'"
/>

<div class="basic-holder-3">
    <app-info-box title="Professional" [video]="0">
        <ng-template>
            <div class="sdr-text little-padding">
                <p>Purchase Runic Renderer today</p>
            </div>
            <div>
                <app-rbutton [buttonText]="'Get a quote'" [sendTo]="'not-allowed'"/>
            </div>        
        </ng-template>
      </app-info-box>
      <app-info-box title="Non-Commercial"[video]="0">
        <ng-template>
            <div class="sdr-text little-padding">
                <p>
                    Try Non-Commercial Runic Renderer
                </p>
            </div>
            <div>
                <app-rbutton [buttonText]="'Try for free'" [sendTo]="'not-allowed'"/>
            </div>  
        </ng-template>
      </app-info-box>  
      
</div>


<div class="base-margin light-bg container">
    <h2 class="sm-title-text bold-text">
        Runic Renderer Licensing
    </h2>
    <p class="sdr-text">
        Runic Renderer has a flexible licensing system. A single Runic Renderer License can be used either for batch rendering or for rendering with an artist seat.
    </p>
    <br>
    <h2 class="sm-title-text bold-text">
        Floating or Node Locked
    </h2>
    <p class="sdr-text">
        Choose between floating and node locked licensing. Floating RenderMan licenses can be distributed across a network as needed, allowing the full utilization of all licenses on the renderfarm to achieve top performance. On the other hand, node locked licenses offer ease of installation and are an efficient solution for a single workstation.    
    </p>
    <br>
    <h2 class="sm-title-text bold-text">
        Pricing
    </h2>
    <div class="sdr-text">
        <p>
            Runic Renderer Node-Locked: . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . $295 USD per license.
        </p>
        <p>
            Runic Renderer Node-Locked Annual Maintenance Renewal: . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . $150 USD per license.
        </p>
        <p>
            Runic Renderer Floating: . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  $495 USD per license.
        </p>
        <p>
            Runic Renderer Floating Annual Maintenance Renewal: . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  $250 USD per license.
        </p>
    </div>
</div>

<app-background-video id="Forge"
    [title]="'Forge.'"
    [description]="'Make your own world.'"
    [height]="'30vh'" 
    [src]="'https://cdnb.artstation.com/p/assets/images/images/065/096/261/large/bart-tchorzewski-vista02.jpg?1689520043'"
    [scale]="1.6"
    [video]="0"
    [BottomPadding]="'.5vh'"
    [scrollFactor]=".25"
    [initialOffset]="-450"
    [textBlockAlignment]="'center'"
    [textAlignment]="'center'"
    [titleFontSize]="'4vh'" 
    [descriptionFontSize]="'2vh'"
    [ButtonText]="'Learn more.'"
    [textWidth]="'50%'"
    [showTextWhenResponsive]="true"
    [halveTextSize]="false"
    [credits]="'© Bart Tchorzewski'"
/>

<div class="basic-holder-3">
    <app-info-box title="Professional" [video]="0">
        <ng-template>
            <div class="sdr-text little-padding">
                <p>Purchase Forge today</p>
            </div>
            <div>
                <app-rbutton [buttonText]="'Get a quote'" [sendTo]="'not-allowed'"/>
            </div>        
        </ng-template>
      </app-info-box>
      <app-info-box title="Non-Commercial"[video]="0">
        <ng-template>
            <div class="sdr-text little-padding">
                <p>
                    Try Forge 
                </p>
            </div>
            <div>
                <app-rbutton [buttonText]="'Try for free'" [sendTo]="'not-allowed'"
                />
            </div>  
        </ng-template>
      </app-info-box>  
      
</div>

<div class="base-margin light-bg container">
    <h2 class="sm-title-text bold-text">
        Forge Licensing
    </h2>
    <p class="sdr-text">
        Forge has a flexible licensing system. A single Forge license can be shared between 2 machines at maximum.
    </p>
    <br>
    <h2 class="sm-title-text bold-text">
        Floating or Node Locked
    </h2>
    <p class="sdr-text">
        All Forge licenses are Floating. Floating Forge licenses can be distributed across a network as needed, with a single license being registered to at most 2 separate machines. 
    </p>
    <br>
    <h2 class="sm-title-text bold-text">
        Pricing
    </h2>
    <div class="sdr-text">
        <p>
            Forge Floating: . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  $150 USD per license.
        </p>
        <p>
            Forge Floating Annual Maintenance Renewal: . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  $75 USD per license.
        </p>
    </div>
</div>
