<div class="profile-sidebar-container" [@sidebarState]="isOpen ? 'open' : 'closed'">
    <div class="arrow-container" (click)="toggleSidebar()">
      <span class="arrow" [@arrowState]="isOpen ? 'open' : 'closed'">&lt;</span>
    </div>
    
    <div class="sidebar-content">
      @if (isLoggedIn) {
        <p>Logged in</p>
      } @else {
        <div class="login-form">
            <h3>Login</h3>
            <form class="login-form">
              <div class="form-group">
                <input type="text" placeholder="Username" [(ngModel)]="username" name="username">
              </div>
              <div class="form-group">
                <input type="password" placeholder="Password" [(ngModel)]="password" name="password">
              </div>
              <div class="login-actions">
                <app-rbutton [buttonText]="'Login'" [buttonAlignment]="'center'" [sendTo]="'#'" [isExternalWebpage]="false" [doesNavigate]="false" [onClickFunction]="login"></app-rbutton>
              </div>
            </form>     
            <div class="login-options">
                <span class="option-link">Forgot your password? </span>
                <a href="#" class="link">Click here</a>
                <br>
                <br>
                <span class="option-link">No account yet? </span>
                <a href="#" class="link">Please Register</a>

              </div>       
          </div>
      }
    </div>
  </div>