  
  .footer-section h4 {
    margin-top: 0;
    transition: color 0.3s ease; 
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 2vh;
  }
  
  .footer-section ul {
    list-style: none; 
    padding: 0;
    margin: 0; 
  }
  
  .footer-section ul li a {
    color: white; 
    text-decoration: none; 
    transition: color 0.3s ease; 
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1.5vh;
  }
  
.footer-section h4:hover {
    color: var(--hover-text-color); 
    cursor: pointer;

}

  .footer-section ul li a:hover {
    color: var(--hover-text-color); 
    cursor: pointer;

  }

  