<!-- src/app/pages/register/register.component.html -->
<app-background-video
  [title]="'Join RuneFX'"
  [description]="'Create your account to access our tools and community.'"
  [height]="'40vh'" 
  [src]="'https://media.sidefx.com/uploads/gallery/483178/SpaceCity_Total.jpg'"
  [scale]="1.3"
  [video]="0"
  [BottomPadding]="'1%'"
  [scrollFactor]=".5"
  [initialOffset]="0"
  [credits]="'Ardit Grezda'"
  [showTextWhenResponsive]="true">
</app-background-video>

<div class="register-container">
    <div class="register-title">
        <h1>Registration form</h1>
    </div>
    <div class="register-form">
        <form action="">
            
        </form>
    </div>
</div>