.video-itself{
    overflow: hidden;
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;    
 }
 .image-itself{
    width: 100%; 
    height: 100%; 
    position: absolute;
    top: 0; 
    left: 0;
    object-fit:cover;
    z-index: -1;
 }
 .image-itself img{
    width: 100%; 
    height: 100%; 
    object-fit: fill;
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
 }
 .video-container {
     position: relative;
     width: 100%; 
     height: calc(100vh - var(--header-size));
     overflow: hidden;
 } 

 .content-overlay {
    display: flex;
    z-index: 3; 
    height: 100%;
}
  
.content-overlay .actual-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: var(--base-site-margin-lr);
    padding-bottom: .9vh;
    padding-left: 2vw;
    z-index: 3; 
  }

.actual-text {
    backface-visibility: hidden;
    perspective: 1000px;
}
.credits-text{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: auto;
    height: auto;
    padding: 5px 10px;
    color: white;
    border-radius: var(--border-radius);
    font-size: 1vw;
    font-family: 'Open Sans', sans-serif;
    text-shadow:  0 0 1vh rgba(0, 0, 0, 1);
    z-index: 3;
}

.no-animation {
    opacity: 1 !important;
    transform: translateY(0) !important;
    transition: none !important;
}

  .content-overlay .actual-text h1 {
    color: white;
    text-shadow: 
    0 0 1vh rgba(0, 0, 0, 1) 

  }
  
  .content-overlay .actual-text p {
    color: white;
    font-size: 5vh;
    text-shadow: 
    0 0 1vh rgba(0, 0, 0, 1) 

  }
   
 .recent-proyects{
     padding: .2vh 0vh;
     background-color: var(--darker-dark);
 }

 button{
    color: white;
    width: fit-content;
    padding: 1vh 5vw;
    margin: 1vh 0vw;
    transition: all 0.3s ease;  
    border: 1px solid  var(--hover-text-color);
    cursor: pointer;
    font-size: 2vh;
    background-color: var(--hover-text-color);
    border-radius: var(--border-radius);
}
button:hover {
    color:var(--hover-text-color);
    background-color: transparent;
    color:var(--hover-text-color);
    border: 1px solid var(--hover-text-color);
}
.parallax-container {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.parallax-background {
    position: absolute;
    top: -25%;
    left: 0;
    width: 100%;
    height: 150%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    transition: transform 0.1s ease-out;
}

