<div class="parallax-container" [style.height]="height">
    <div class="overlay"></div>
    @switch (video) {
        @case (0) {
            <div [style.backgroundImage]="safeSrc" class="parallax-background"></div>
        }
        @case (1) {
            <iframe loading="eager" [src]="safeSrc" frameborder="0" allow="autoplay; accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"  class="video-itself" id="vimeoPlayer" data-ready="true" mute="1" [style.transform]="'scale(' + scale + ')'"></iframe>

        }
        @case (2) {
            <video *ngIf="video === 2" id="comp-l8vvvlh0_video" class="video-itself" role="presentation" crossorigin="anonymous" playsinline="" preload="auto" muted="" loop="" tabindex="-1" autoplay="" [src]="safeSrc" [style.transform]="'translateY(' + translateY + 'vh) scale(' + scale + ')'" ></video>

        }
    }   

    <div class="content-overlay" [ngStyle]="{ 'justify-content': justifyContentStyle }">
        <div class="actual-text" [ngStyle]="{'padding-bottom': BottomPadding, 'width': textWidthFit, 'text-align': textBlockAlignment }">
            <h1 class="title-text" [ngStyle]="{'font-size': titleFontSize,  'text-align':textAlignment}">{{ title }}</h1>
            @if(showDesc){
                <p class="sdr-text" [ngStyle]="{'font-size': descriptionFontSize,  'text-align':textAlignment}">{{ description }}</p>
            }
            @if(button===1){
                <app-rbutton [sendTo]="ButtonLink" [buttonText]="ButtonText" class="action-button" [buttonAlignment]="ButtonAlignment" [loadingDuration]="LoadingDuration" [isExternalWebpage]="isExternalWebpage"/>
            }
        </div>
    </div>
</div>