.video-itself{
    overflow: hidden;
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;    
 }
 .image-itself{
    width: 100%; 
    height: 100%; 
    position: absolute;
    top: 0; 
    left: 0;
    object-fit:cover;
    z-index: -1;
 }
 .image-itself img{
    width: 100%; 
    height: 100%; 
    object-fit: fill;
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
 }
 .video-container {
     position: relative;
     width: 100%; 
     height: calc(100vh - var(--header-size));
     overflow: hidden;
 }
 
 .content-overlay {
     display: flex;
     z-index: 0; 
     height: 100%;
 }
 
 .content-overlay .actual-text{
     display: flex;
     flex-direction: column;
     margin: auto;
     justify-content: center;
     /* align-items: left; */
     margin: var(--base-site-margin-lr);
     padding-bottom:.9vh;
     padding-left: 2vw;
 }
 .content-overlay .actual-text h1{
     color: white;
     font-size: 8vh;
     text-shadow: 0 0 5px rgba(0,0,0,1);
 }
 
 .content-overlay .actual-text p{
     color: white;
     font-size: 5vh;
     text-shadow: 0 0 5px rgba(0,0,0,1);
 }
   
 .recent-proyects{
     padding: .2vh 0vh;
     background-color: var(--triangle-before);
 }

 button{
    color: white;
    width: fit-content;
    padding: 1vh 5vw;
    margin: 1vh 0vw;
    transition: all 0.3s ease;  
    border: 1px solid  var(--hover-text-color);
    cursor: pointer;
    font-size: 2vh;
    background-color: var(--hover-text-color);
    border-radius: var(--border-radius);
}
button:hover {
    color:var(--hover-text-color);
    background-color: transparent;
    color:var(--hover-text-color);
    border: 1px solid var(--hover-text-color);
}
