<div class="header-container" >
    <div class="logo-container" (click)="loadingService.switchWithLoading('forum/'+topic.id+'/'+topic.slug)">
        <h1 class="title-text hover">{{topic.title}}</h1>
    </div>

    <div class="triangle-container"></div>


    <div class="post-data">
        <div>
            <p class="bold-text sdr-text">Post Count</p>
        </div>
        <div>
            <p class="bold-text sdr-text">Latest Post</p>
        </div>
    </div>
</div>

<div class="subtopic-container">
    @for (subtopic of topic.subtopics; track $index) {
        <div class="subtopic-item">
            <div class="subtopic-data" (click)="loadingService.switchWithLoading('forum/'+topic.id+'/'+topic.slug+'/'+subtopic.id+'/'+subtopic.slug)">
                <h2 class="bold-text sm-title-text hover">{{subtopic.title}}</h2>
                <p  class="forum-subtopic-dsc">{{subtopic.description}}</p>
            </div>
            <div class="post-data-info-container">
                <div class="subtopic-post-count">
                    <p class="bold-text sdr-text">{{subtopic.post_count}}</p>
                </div>
                <div class="subtopic-latest-post-data pointy-cursor" (click)="loadingService.switchWithLoading('under-construction')">
                    <div class="subtopic-latest-post-user">
                        <img src={{subtopic.latest_post_data.latest_post_user_pfp}} alt="User profile">
                    </div>
                    <div class="subtopic-latest-post-text">
                        <p class="bold-text sdr-text hover break-word">{{subtopic.latest_post_data.latest_post_user}}</p>
                        <p >{{utilsService.timeAgo(subtopic.latest_post_data.latest_post_time)}}</p>
                    </div>
                </div>    
            </div>     
        </div>
    }
</div>
