

*{
    color: var(--primary-text-color);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    flex-direction: row;
    top: 0;
 }

.logo-container {
    padding: .5% 5% .5% 5%;
    background: var(--darker-dark); 
    width: auto;
}

 .triangle-container {
    width: 5vw;
    height: 1;
    position: relative; 
} 

 .triangle-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--darker-dark);
    clip-path: polygon(0 0, 100.5% , -0.5% 100%);
 }

 .triangle-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--lighter-dark);
    clip-path: polygon(100% 0, 102% 100%, -2% 100%);
}
.spacer{
    width: 30vw;
}
.post-data{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: .5% 2% .5% 2%;
    background-color: var(--lighter-dark);
    flex: 1;  
    width: 100%;
}  

.post-data div p{
    width: 10vw;
}


.subtopic-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5vh 2vw;
    background-color: var(--lighter-dark);

}

.subtopic-item {
    margin: 2vh 0vw;
    display: flex;
    flex-direction: row;
    width: 100%;    
    justify-content: space-between;
}

.subtopic-latest-post-data{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-height: 5vh;
    max-width: 10vw;
    overflow: hidden;
}

.subtopic-latest-post-data p.hover{
    transition: color 0.5s;

}
.hover{
    max-width: 10vw;
    display: inline-block;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.subtopic-latest-post-data:hover p.hover{
    color: var(--hover-text-color)
}

.subtopic-latest-post-user{
    height: 100%;
}

.subtopic-latest-post-user img {
    height: 100%;    
}

.subtopic-latest-post-text{
    padding: .5vh .5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

