<app-background-video
  [title]="'We make dreams real.'"
  [description]="'Or atleast, as real as they can be.'"
  [height]="'100vh'" 
  [textWidth]="'50%'"
  [src]="'https://player.vimeo.com/video/802835584?muted=1&autoplay=1&loop=1&transparent=0&background=1&app_id=122963'"
  [showTextWhenResponsive]="true"
  [credits]="'© Rebelway'"
>
</app-background-video>

<app-info-box title="Recent Projects" id="recent" >
    <ng-template>
        <div class="grid">
            <app-showcase-grid [width]="100" [height]="100" [gridX]="3" [gridY]="1" [showcaseList]="ShowcaseList"></app-showcase-grid>
            <app-rbutton [sendTo]="'vfx'"/>
        </div>
      </ng-template>
</app-info-box>

<app-background-video
  [title]="'We love what we do.'"
  [description]="'And you should too.'"
  [height]="'80vh'" 
  [src]="'https://player.vimeo.com/video/911949527?muted=1&autoplay=1&loop=1&transparent=0h=08a729e023'"
  [scale]="1.4"
  [button]="1"
  [ButtonText]="'About us.'"
  [ButtonLink]="'about'"  
  [showTextWhenResponsive]="true"
  [credits]="'© Rebelway'"
  >
</app-background-video>

<app-background-video
  [title]="'We dont just make dreams come true.'"
  [description]="'We make the tools for them aswell.'"
  [height]="'80vh'" 
  [src]="'https://player.vimeo.com/video/912796574?muted=1&autoplay=1&loop=1?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479'"
  [scale]="1.4"
  [button]="1"
  [ButtonText]="'Technologies.'"
  [ButtonLink]="'render'"  
  [textWidth]="'50%'"
  [textBlockAlignment]="'right'"  
  [showTextWhenResponsive]="true"
  [credits]="'© Rebelway'"
  >
</app-background-video>
