<app-background-video
  [title]="'We make dreams real.'"
  [description]="'Or atleast, as real as they can be.'"
  [height]="'100vh'" 
  [textWidth]="'50%'"
  [src]="'https://player.vimeo.com/video/802835584?muted=1&autoplay=1&loop=1&transparent=0&background=1&app_id=122963'"
  [showTextWhenResponsive]="true"
  [credits]="'© Rebelway'"
>
</app-background-video>

<app-info-box title="Recent Projects" id="recent" >
    <ng-template>
        <div class="grid">
            <app-showcase-grid [width]="100" [height]="100" [gridX]="3" [gridY]="1" [showcaseList]="ShowcaseList"></app-showcase-grid>
            <app-rbutton [sendTo]="'vfx'"/>
        </div>
      </ng-template>
</app-info-box>

<app-background-video
  [title]="'Interested?'"
  [description]="'Check out our forum!'"
  [height]="'80vh'" 
  [src]="'https://www.youtube.com/embed/8opI0rwGsdk?si=-mZ0r2raK70Pc58J&amp;controls=0&rel=0&enablejsapi=1&playsinline=1&mute=1&autoplay=1&loop=1&playlist=8opI0rwGsdk'"
  [scale]="1.4"
  [button]="1"
  [ButtonText]="'Go to forum.'"
  [ButtonLink]="'forum'"  
  [showTextWhenResponsive]="true"
  [credits]="'© Rebelway'"
  >
</app-background-video>

<app-background-video
  [title]="'We dont just make dreams come true.'"
  [description]="'We make the tools for them aswell.'"
  [height]="'80vh'" 
  [src]="'https://www.youtube.com/embed/oCwnGB7v3jk?si=5R4oH27T21LkbVjk&amp;controls=0&mute=1&autoplay=1&loop=1&playlist=oCwnGB7v3jk'"
  [scale]="1.4"
  [button]="1"
  [ButtonText]="'Technologies.'"
  [ButtonLink]="'render'"  
  [textWidth]="'50%'"
  [textBlockAlignment]="'right'"  
  [showTextWhenResponsive]="true"
  [credits]="'© Rebelway'"
  >
</app-background-video>
