
.shittier-navbar {
    position: -webkit-sticky;
    position: sticky;
    top:6.9vh;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 1vh 18vw 1vh 16vw;
    z-index: 1;
    background-color: var(--triangle-after);
    width: 100%;
}

.shittier-navbar ul {
    text-decoration: none; 
    color: white;
    list-style: none;
    display: grid;
    justify-items: center; 
    align-items: center; 
    grid-template-columns:repeat(4, 1fr);
    font-size: var(--header-text-size); 
    gap: 2vw; 
    width: 100%;
}

.shittier-navbar li a{
    text-decoration: none; 
    color: white;
    cursor: pointer;
    transition: color .5s;
    /* font-size: var(--header-text-size);  */
    flex-grow: 1; 
    text-align: center; 
}

.shittier-navbar li a:hover {
    color: var(--hover-text-color);
}

.triangle-container {
    width: 10vw;
    position: relative; 
} 
 .triangle-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--triangle-before);;
    clip-path: polygon(0 0, 100.5% , -0.5% 100%);
 }
 .triangle-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--triangle-after);
    clip-path: polygon(100% 0, 102% 100%, -2% 100%);
}

.black-part{
    width: 24.5vw;
    background: var(--triangle-before);
}


.header-container {
    display: flex;
    flex-direction: row;
    height: 5vh; 
    position: sticky;
    top: 7.6vh;
    z-index: 9997;
    background: var(--triangle-after);

 }