<app-background-video
  [title]="'Spherical Harmonics.'"
  [description]="'A new way to render subsurface scattering.'"
  [height]="'40vh'" 
  [src]="'https://pixar-community-production.s3.us-west-1.amazonaws.com/Tutorials/making-of-baz/baz-banner.jpg'"
  [scale]="1.3"
  [video]="0"
  [BottomPadding]="'1%'"
  [scrollFactor]=".5"
  [initialOffset]="0">
</app-background-video>
<app-info-box 
    title="Spherical Harmonics." 
    desc="Spherical Harmonics are a data representacion of how light interacts with surfaces.">
</app-info-box>

<div class="basic-holder-1-1">
    <app-simple-image 
    class="dont-fucking-go-over"
    [src]="'https://www.wetafx.co.nz/assets/Uploads/images/imagegallery/desktop/galleryoverlay-desktop-image13.jpg'"
    [scale]="1.3"
    [initialOffset]="-150"
    [scrollFactor]=".2"
    />

    <app-simple-image 
    class="dont-fucking-go-over"
    [src]="'https://www.wetafx.co.nz/assets/Uploads/images/imagegallery/desktop/galleryoverlay-desktop-image18.jpg'"
    [scale]="1.3"
    [initialOffset]="-150"
    [scrollFactor]=".2"
    />
    <app-simple-image 
    class="dont-fucking-go-over"
    [src]="'https://www.wetafx.co.nz/assets/Uploads/images/imagegallery/desktop/galleryoverlay-desktop-image11.jpg'"
    [scale]="1.3"
    [initialOffset]="-350"
    [scrollFactor]=".2"
    />
    <app-info-box 
    class="dont-fucking-go-over"
    title="But what are they?" 
    desc="Spherical harmonics are mathematical functions that describe the properties of functions on the surface of a sphere. In the context of 3D rendering, they are used to approximate how light interacts with surfaces, especially for effects like subsurface scattering (light penetrating beneath the surface of materials like skin, hair, or wax) and ambient lighting. This technique allows for a more realistic representation of how light diffuses across these surfaces, capturing the soft glow and nuanced shadows that are characteristic of real-world materials. Spherical harmonics make complex lighting computations more efficient, enabling more lifelike and dynamic visual effects in movies, video games, and simulations by simulating the subtle ways light scatters in different materials.">
</app-info-box>
</div>