*{
    color: var(--primary-text-color);
}

.Tech-Container{
    background-color: var(--darker-dark);
    display: grid;
    grid-template-columns: 1fr; 
    gap:3vh;
    height: 100%;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 1vh;
}

.desc {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    margin: auto;
    width: 100%; 
    height:100%;
}

.title  h1{
    padding: 0vh 1vw;
}
.info-container{
    margin:var(--base-site-margin-lr);
    padding: 2vh 2vw;
    background-color: var(--lighter-dark);
    border-radius: var(--border-radius);
}s
.info-container-r{
    margin:var(--base-site-margin-lr);
    padding: 1% 2%;
    background-color: var(--lighter-dark);
    display: flex;
    flex-direction: row-reverse;
}

.title-text {
    border-bottom: 1px solid white;
    text-align: center; 
}

.text{
    display: flex;
    flex-direction: column;
    padding: 0% 2vw;
}

.not-text{
    height:100%;
    
}