<app-background-video
  [title]="'Runic Renderer.'"
  [description]="'Our pride and joy.'"
  [height]="'40vh'" 
  [src]="'https://help.otoy.com/hc/article_attachments/14458993080603'"
  [scale]="1.1"
  [video]="0"
  [BottomPadding]="'1%'"
  [scrollFactor]=".5"
  [credits]="'© OTOY'"
  [initialOffset]="0">
</app-background-video>
<app-info-box 
    class="dont-fucking-go-over"
    title="The most advanced renderer yet." 
    desc="Runic Renderer is RuneFXs multi-award-winning, state-of-the-art production physically based, unbiased spectral renderer, which has been used on many award winning feature films such as . Runic Renderer was developed at RuneFX and is in continuous active development and includes an extensive library of production-tested, physically based materials, a USD Hydra render delegate, multi-machine and cloud rendering via the Arras distributed computation framework.">
</app-info-box>
<app-background-video
  [title]="'GPU-Accelerated'"
  [description]="'Runic Renderer is a powerful GPU-accelerated renderer, built to meet the specific demands of contemporary high-end production rendering. Tailored to support creative individuals and studios of every size, Redshift offers a suite of powerful features and integrates with industry standard CG applications.'"
  [height]="'50vh'" 
  [src]="'https://maxonassets.imgix.net/images/hirokazu-yokohara-rising-ruins.jpg?fm=webp&auto=format,compress&w=1920&h=1014&ar=16:9&fit=clip&crop=faces&q=80'"
  [scale]="1.3"
  [video]="0"
  [BottomPadding]="'.5vh'"
  [scrollFactor]=".25"
  [initialOffset]="-195"
  [textAlignment]="'left'" 
  [titleFontSize]="'4vh'" 
  [descriptionFontSize]="'2vh'"
  [ButtonText]="'Learn more.'"
  [textWidth]="'50%'"
  [credits]="'© Hirokazu Yokohara'"
  >
</app-background-video>

<app-background-video
  [title]="'Fully Featured Camera'"
  [description]="'Runic Renderer motion blur and depth-of-field can mimic the behavior of real-world cameras, so Runic Renderers synthetic images can realistically simulate their conventionally filmed counterparts.'"
  [height]="'50vh'" 
  [src]="'https://assets.renderman.pixar.com/Tutorials/edixa_camera/edixa-camera-banner.jpg'"
  [scale]="1.3"
  [video]="0"
  [BottomPadding]="'.5vh'"
  [scrollFactor]=".25"
  [initialOffset]="-295"
  [textBlockAlignment]="'right'"
  [titleFontSize]="'4vh'" 
  [descriptionFontSize]="'2vh'"
  [ButtonText]="'Learn more.'"
  [textWidth]="'50%'"
  [credits]="'© Clement Feuillet'"
  >
</app-background-video>

<app-background-video
  [title]="'Characters'"
  [description]="'Every artist wants their renders to look great, but also need results quickly because faster rendering means more time to be creative and deliver client revisions. There are many amazing renderers out there that can bring your 3D creations to life, but only Redshift consistently delivers both breathtaking speed and remarkable imagery.'"
  [height]="'50vh'" 
  [src]="'https://assets.renderman.pixar.com/Tutorials/crocostrich/crocostrich-banner.jpg'"
  [scale]="1.3"
  [video]="0"
  [BottomPadding]="'.5vh'"
  [scrollFactor]=".25"
  [initialOffset]="-595"
  [textBlockAlignment]="'center'"
  [titleFontSize]="'4vh'" 
  [descriptionFontSize]="'2vh'"
  [ButtonText]="'Learn more.'"
  [textWidth]="'50%'"
  [credits]="'© Victor Besseau'"
  >
</app-background-video>

<app-background-video
  [title]="'Fully realistic glass caustics.'"
  [description]="'Every artist wants their renders to look great, but also need results quickly because faster rendering means more time to be creative and deliver client revisions. There are many amazing renderers out there that can bring your 3D creations to life, but only Redshift consistently delivers both breathtaking speed and remarkable imagery.'"
  [height]="'50vh'" 
  [src]="'https://i.imgur.com/XbuWO5K.png'"
  [scale]="1.3"
  [video]="0"
  [BottomPadding]="'.5vh'"
  [scrollFactor]=".25"
  [initialOffset]="-695"
  [textBlockAlignment]="'left'"
  [titleFontSize]="'4vh'" 
  [descriptionFontSize]="'2vh'"
  [ButtonText]="'Learn more.'"
  [textWidth]="'50%'"
  [credits]="'© Maxon'"
  >
</app-background-video>

<div class="basic-holder-3">
    <app-info-box 
    class="dont-fucking-go-over"
    title="Caustics" 
    desc="Runic Renderer's caustic kernel is a dedicated “caustics solver”, improving caustics convergence faster than ever before compared to other state of the art renderers.">
    </app-info-box>

    <app-simple-image 
    class="dont-fucking-go-over"
    [src]="'https://rmanwiki-26.pixar.com/download/attachments/19661785/spherecapCaustic_closeup.jpg'"
    [scale]="1"
    [initialOffset]="0"
    [scrollFactor]="0"
    />
    <app-simple-image 
    class="dont-fucking-go-over"
    [src]="'https://rmanwiki-26.pixar.com/download/attachments/19661785/sphereCaustic_closeup.jpg'"
    [scale]="1"
    [initialOffset]="0"
    [scrollFactor]="0"
    />

</div>
<app-info-box 
class="dont-fucking-go-over"
title="You can even model a real camera lenses." 
desc="">
</app-info-box>

<div class="basic-holder-1-1">
    <app-simple-image 
    class="dont-fucking-go-over"
    [src]="'https://images.squarespace-cdn.com/content/v1/64b920ccbfd35859325c64de/2774aedd-5bfb-46bd-b51d-0f590f03b73f/Lights.jpg?format=1000w'"
    [scale]="1.5"
    [initialOffset]="-1050"
    [scrollFactor]=".2"
    />

    <app-simple-image 
    class="dont-fucking-go-over"
    [src]="'https://images.squarespace-cdn.com/content/v1/64b920ccbfd35859325c64de/b5f49203-2dea-4679-b4fd-68e272285948/Room.jpg?format=1000w'"
    [scale]="1.5"
    [initialOffset]="-1050"
    [scrollFactor]=".2"
    />
</div>


<app-info-box title="DDC Compatibility" class="dcc" id="credits" >
    <ng-template>
        <div class="sdr-text basic-holder-4-1">
            <div class="dcc-holder">
                <p>Maya</p>
                <img src="https://pixar-community-production.s3-us-west-1.amazonaws.com/Icons/maya-icon.png" alt="">
            </div>
            <div class="dcc-holder">
                <p>Houdini</p>
                <img src="https://pixar-community-production.s3-us-west-1.amazonaws.com/Icons/houdini-icon.png" alt="">
            </div>
            <div class="dcc-holder">
                <p>Katana</p>
                <img src="https://pixar-community-production.s3-us-west-1.amazonaws.com/Icons/katana-icon.png" alt="">
            </div>
            <div class="dcc-holder">
                <p>Blender</p>
                <img src="https://pixar-community-production.s3-us-west-1.amazonaws.com/Icons/blender-icon.png" alt="">
            </div>
        </div>
    </ng-template>
</app-info-box>

<app-info-box 
class="dont-fucking-go-over"
title=" Hardware Requirements." 
desc="">
</app-info-box>

<div class="sdr-text basic-holder-4-2">
    <div class="dcc-holder">
        <app-info-box 
        class="dont-fucking-go-over"
        title="CPU" 
        desc="Runic Renderer require a processor with AVX capabilities.">
        </app-info-box>
    </div>
    <div class="dcc-holder">
        <app-info-box 
        class="dont-fucking-go-over"
        title="GPU" 
        desc="Runic Renderer needs a minimum of 4GB of RAM and XPU needs a minimum of 11GB of VRAM. Maximum RAM depends on scene complexity.">
        </app-info-box>
    </div>
    <div class="dcc-holder">
        <app-info-box 
        class="dont-fucking-go-over"
        title="Memory" 
        desc="Runic Renderer and the Optix denoiser require an Nvidia graphics card of Maxwell architecture or above. ">
        </app-info-box>
    </div>
    <div class="dcc-holder">
        <app-info-box 
        class="dont-fucking-go-over"
        title="Plugins" 
        desc="VFX Reference Platform: CY2021. Custom plugins can utilize C++ 17 and must be compiled with gcc 9.3.1">
        </app-info-box>
    </div>
</div>
