.basic-holder {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: auto; 
    max-height: 20%; 
    background-color: var(--darker-dark);
}
.basic-holder-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: auto; 
    height: 10%; 
    background-color: var(--darker-dark);
}
.dont-fucking-go-over{
}

.basic-holder-1-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: auto; 
    background-color: var(--darker-dark);
}

.basic-holder-4-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: auto; 
    height: auto;
    gap: 12vw; 
}
.basic-holder-4-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto; 
    height: 10%;
    gap: 2vw; 
    background-color: var(--darker-dark);
}

.dcc-holder img{
    max-height: 15vh;
}

.dcc{
    display: block;
    height: 100%;
}


@media(max-width: 750px){
    .basic-holder-3{
        grid-template-columns: repeat(1, 1fr) ;
    }
    .basic-holder-4-1{
        grid-template-columns: repeat(2, 1fr) ;

    }
    .basic-holder-4-2{
        grid-template-columns: repeat(1, 1fr) ;

    }
}