<div class="header-container" >
    <div class="logo-container">
        <h1 class="title-text hover">{{post.title}}</h1>
    </div>

    <div class="triangle-container"></div>


    <div class="post-data">
    </div>
</div>

<div class="light-bg base-bradius post-container">
    <div class="user-post-info">
        <div class="user-info">
            <a class="user-pfp" >
                <img src={{post.created_by.user_pfp_url}} alt="User profile">
                <div class="user-info-text">
                    <a class="bold-text sdr-text hover" (click)="loadingService.switchWithLoading('not-allowed', '', 2000, true, $event)" [href]="'not-allowed'">{{post.created_by.username}}</a>
                    <p class="secondary-text">{{utilsService.timeAgo(post.created_at)}}</p>
                </div>
            </a>
        </div>
    </div>
    <div class="post-content">
        <markdown [data]="utilsService.replaceNewLines(post.content)">
        </markdown>
    </div>
</div>

@for (comment of post.comments; track $index) {
    <div class="light-bg base-bradius post-container">
        <div class="user-post-info">
            <div class="user-info">
                <div class="user-pfp">
                    <img src={{comment.created_by.user_pfp_url}} alt="User profile">
                    <div class="user-info-text">
                        <p class="bold-text sdr-text hover">{{comment.created_by.username}}</p>
                        <p class="secondary-text">{{utilsService.timeAgo(comment.created_at)}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-content">
            <markdown [data]="utilsService.replaceNewLines(comment.content)">
            </markdown>
        </div>
    </div>
}


<app-error-warning-ox
    [errorDescription]="'You need to be logged in to comment on this post.'"
    [errorMessage]="'Log in to comment.'"
/>




