<div class="dropdown-container" (mouseenter)="isOpen = true" (mouseleave)="isOpen = false">
    <a class="dropdown-label" (click)="tempLoadingService.switchWithLoading(dropdownItem.link, '', 2000, true, $event)"  [ngClass]="{'home-tab': dropdownItem.title.toLowerCase() === 'home'}" [href]="dropdownItem.link">
      <span>{{ dropdownItem.title }}</span>
    </a>
    @if (dropdownItem.items.length > 0) {
    <div class="dropdown-content" [@dropdownAnimation]="isOpen ? 'open' : 'closed'">
      <ul>
        @for (item of dropdownItem.items; track $index) {
          <li (click)="tempLoadingService.switchWithLoading(
            item.link || dropdownItem.link, 
            item.link ? '' : item.scrollTo, 
            2000, true, $event)">
            <a [href]="item.link || dropdownItem.link">{{ item.displayString }}</a>
          </li>        
        }
      </ul>
    </div>
  }
  </div>