<app-background-video
  [title]="item.title"
  [height]="'40vh'"
  [src]="item.actualimage"
  [scale]="1.2"
  [video]="0"
  [BottomPadding]="'.5vh'"
  [scrollFactor]=".5"
  [initialOffset]="0">
</app-background-video>
<div class="spacer">
    <div class="content">
        <app-info-box title="{{item.title}} ({{item.year}})" id="title"  desc="{{ item.desc }}"/>
    </div>

    <div class="credits">
        
        <app-info-box title="Credits" id="credits" >
            <ng-template>
                <div class="sdr-text">
                    <!-- god  bless these ifs -->
                    @if(item.directors.length > 0 && item.directors){
                        <p>Director:</p>
                        <p>{{ item.directors.join(', ') }}</p>
                    }

                    @if(item.producers.length > 0 && item.producers){                        
                        <br>
                        <p>Series Executive Producers:</p>
                        <p>{{ item.producers.join(', ') }}</p>
                    }

                    @if(item.vfx_supervisors.length > 0 && item.vfx_supervisors){
                        <br>
                        <p>RuneFX Visual Effects Supervisor:</p>
                        <p>{{ item.vfx_supervisors.join(', ') }}</p>
                    }

                    @if(item.vfx_producers.length > 0  && item.vfx_producers){
                        <br>
                        <p>RuneFX Visual Effects Producer:</p>
                        <p>{{ item.vfx_producers.join(', ') }}</p>
                    }

                    @if(item.animation_supervisors.length > 0 && item.animation_supervisors){
                        <br>
                        <p>RuneFX Animation Supervisor:</p>
                        <p>{{ item.animation_supervisors.join(', ') }}</p>
                    }
                </div>
            </ng-template>
        </app-info-box>
    </div >    
</div>
