*{
    color: var(--primary-text-color);
}

.spacer{
    display: flex;
    background-color: var(--darker-dark);    
}

.content{
    width: 50%;
}
.credits{
    width: 50%;
}

.credits p{
    width: 100%;
}


@media (max-width: 1150px) {
    .spacer{
        flex-direction: column;
    }
    .content{
        width: 100%;
    }
    .credits{
        width: 100%
    }
}