*{
    color: var(--primary-text-color);
}

.spacer{
    display: flex;
    background-color: var(--triangle-before);    
}

.content{
    width: 50%;
}
.credits{
    width: 50%;
}

.credits p{
    width: 100%;
}