
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

:root {
    --primary-text-color: white;
    --hover-text-color: #7aa3d1;
    --darker-dark: rgb(22,22,22); /*rgb(22,22,22);*/
    --lighter-dark: rgb(32,32,32); /*rgb(32,32,32);*/
    --header-text-size: 1.5vw;
    --header-home-text-size: 4vh;

    --header-size:8vh;

    --base-site-margin-top:2vh;
    --base-site-margin-lr:2vh 2vw;
    --base-site-padding-lr:var(var(--base-site-margin-lr));

    --border-radius: .5vh;

    --intermitent-loading-screen-duration:.25s;

    --responsive-threshhold: 1150px
  }


.title-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 4vh;
}

.sdr-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 2vh;
}

.sm-text{
    font-size: 1vh;
}

.footer-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 2.5vh;
}

.footer-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 3vh;
}

.base-margin{
    margin: 2vh 2vw;
}

.base-margin-lr{
    margin: 0vh 2vw;
}

.base-margin-tb{
    margin: 2vh 0vw;
}

.base-padding-lr{
    padding: 0vh 2vw;
}

.base-padding-tb{
    padding: 2vh 0vw;
}

.base-padding{
    padding: 2vh 2vw;
}

.base-bradius{
    border-radius: var(--border-radius);
}

.dark-bg{
    background-color: var(--darker-dark);
}
.light-bg{
    background-color: var(--lighter-dark);
}

.bold-text{
    font-weight: 700;
}

/* FORUM SPECIFIC STYLES */

.forum-topic-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 4vh;
}

.forum-subtopic-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 2vh;
}

.forum-subtopic-desc{
    font-size: 1vh;
}