
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: var(--primary-text-color);
}
:root {
    --primary-text-color: hsl(0, 0%, 95%);
    --secondary-text-color: hsl(0, 0%, 70%);
    --tertiary-text-color: hsl(212, 3%, 30%);

    --hover-text-color: hsl(212, 49%, 65%);

    --darker-dark: hsl(212, 3%, 8%); /*rgb(22,22,22);*/
    --lighter-dark: hsl(212, 3%, 13%); /*rgb(32,32,32);*/
    --header-text-size: 1.5vw;
    --header-home-text-size: 4vh;

    --header-size:8vh;

    --base-site-margin-top:2vh;
    --base-site-margin-lr:2vh 2vw;
    --base-site-padding-lr:var(var(--base-site-margin-lr));

    --border-radius: .5vh;

    --intermitent-loading-screen-duration:.25s;

    --responsive-threshhold: 1150px
  }


.title-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 4vh;
}
.sm-title-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 2.5vh;
}
.sdr-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1.8vh;
}
.sm-sdr-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1.5vh;
}
.sm-text{
    font-size: 1vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.footer-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 2.5vh;
}

.footer-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 3vh;
}

.base-margin{
    margin: 2vh 2vw;
}

.base-margin-lr{
    margin: 0vh 2vw;
}

.base-margin-tb{
    margin: 2vh 0vw;
}

.base-padding-lr{
    padding: 0vh 2vw;
}

.base-padding-tb{
    padding: 2vh 0vw;
}

.base-padding{
    padding: 2vh 2vw !important;
}

.base-bradius{
    border-radius: var(--border-radius);
}

.dark-bg{
    background-color: var(--darker-dark);
}
.light-bg{
    background-color: var(--lighter-dark);
}

.bold-text{
    font-weight: 700;
}

.color-hover{
      transition: color 0.5s;
}
.pointy-cursor{
    cursor: pointer;
}
.color-hover:hover{
    color: var(--hover-text-color);
}

/*no need for primary text since all text by default is primary text*/
.secondary-text{
    color: var(--secondary-text-color) !important;
}
.tertiary-text{
    color: var(--tertiary-text-color) !important;
}



/* markdown component styles */

.md {
    font-size: 120%;
}

.md h1,
.md h2{
    font-size: 150%;
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.md p:has(img){
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}


.md p {
    text-align: justify;
}

.md p img{
    margin-top: 4vh;
    border-radius: var(--border-radius);
    width:40%;
}

.md p:has(img) + p {
    text-align: center;
    margin-bottom: 5vh
}
.md h1,
.md h2,
.md h3,
.md h4,
.md h5 {
    font-weight: 700 !important;
}

.md h1 strong,
.md h2 strong,
.md h3 strong,
.md h4 strong,
.md h5 strong {
    font-weight: 700 !important;
}

.md h1:not(:first-child), 
.md h2:not(:first-child),
.md h3:not(:first-child),
.md h4:not(:first-child),
.md h5:not(:first-child) 
{
    margin-top: 2vh;
    margin-bottom: 1.5vh;
}

