
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

:root {
    --primary-text-color: white;
    --hover-text-color: #7aa3d1;
    --triangle-before: rgb(22,22,22); /*rgb(22,22,22);*/
    --triangle-after: rgb(32,32,32); /*rgb(32,32,32);*/
    --header-text-size: 1.5vw;
    --header-home-text-size: 4vh;

    --header-size:8vh;

    --base-site-margin-top:2vh;
    --base-site-margin-lr:2vh 2vw;
    --base-site-padding-lr:var(var(--base-site-margin-lr));

    --border-radius: .5vh;

    --intermitent-loading-screen-duration:.25s;

    --responsive-threshhold: 1150px
  }


.title-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 4vh;
}
.sdr-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 2vh;
}

.footer-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 2.5vh;
}
.footer-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 3vh;
}
