<app-background-video
[title]="'Forum'"
[description]="'Discuss, talk and share your thoughts, ideas and questions with the community.'"
[height]="'40vh'" 
[src]="'https://cdnb.artstation.com/p/assets/images/images/023/222/447/large/pablo-dominguez-kitbash3d-medievalmarket-v001-002.jpg?1578506413'"
[scale]="1.3"
[video]="0"
[button]="0"
[scrollFactor]=".25"
[textAlignment]="'left'" 
[textBlockAlignment]="'left'"
[textWidth]="'90%'"
[credits]="'© Pablo Dominguez'"
>  
</app-background-video>
<div class="header-container" >
    <div class="logo-container" >
        <h1 class="title-text hover">{{subtopicData.title}}</h1>
    </div>

    <div class="triangle-container"></div>


    <div class="post-data">
        <div>
            <p class="bold-text sdr-text">Post Count</p>
        </div>
        <div>
            <p class="bold-text sdr-text">Latest Post</p>
        </div>
    </div>
</div>

<div class="subtopic-container">
    @for (posts of subtopicData.posts; track $index) {
        <div class="subtopic-item">
            <div class="subtopic-data" >
                <h2 class="bold-text sm-title-text hover">{{posts.title}}</h2>
            </div>
            <div class="post-data-info-container">
                <div class="subtopic-post-count">
                    <p class="bold-text sdr-text">{{posts.amount_of_comments}}</p>
                </div>
                <div class="subtopic-latest-post-data pointy-cursor" (click)="loadingService.switchWithLoading('under-construction')">
                    <div class="subtopic-latest-post-user">
                        <img src={{posts.latest_comment_data.user_pfp_url}} alt="User profile">
                    </div>
                    <div class="subtopic-latest-post-text">
                        <p class="bold-text sdr-text hover break-word">{{posts.latest_comment_data.username}}</p>
                        <p >{{utilsService.timeAgo(posts.latest_comment_data.latest_post_time)}}</p>
                    </div>
                </div>    
            </div>     
        </div>
    }
</div>
